################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestHelper/.vs/TestHelper/v15/Server/sqlite3
/TestHelper/.vs/TestHelper/v15
bin
obj
